# Configuración de finales de línea para Windows
* text=auto
*.ts text eol=crlf
*.js text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.env text eol=crlf
*.sh text eol=lf
*.py text eol=lf
